.bdr {
    height: 30px;
    background-color: blue;
}

.bdr1 {
    height: 30px;
    background-color: red;
}


.bdr2 {
    height: 30px;
    background-color: aqua;
}


.bdr3 {
    height: 30px;
    background-color: yellow;
}